<h1> UPDATE </h1>
<form action="/update" method="POST">
    Id:<input type="text" name="id" value="<%= Custommer4s1.id %>"><br> IdDistrict: <input type="text" name="IdDistrict" value="<%= Custommer4s1.IdDistrict %>"><br> IdVillage: <input type="text" name="IdVillage" value="<%= Custommer4s1.IdVillage %>"><br>    Address: <input type="text" name="Address" value="<%= Custommer4s1.Address %>"><br> BankName: <input type="text" name="BankName" value="<%= Custommer4s1.BankName %>"><br> BranchName: <input type="text" name="BranchName" value="<%= Custommer4s1.BranchName %>"><br>

    <button type="submit"> UPDATE  </button>
</form>